* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
    scroll-behavior: smooth;
  }
  body {
    font-family: "Poppins", sans-serif;
    --color1: #fff;
    --color2: #181818;
    --color3: #19e68c;
    overflow-x: hidden;
  }
  header {
    width: 100%;
    height: 75px;
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-bar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color2);
    padding: 10px 20px;
  }
  .logo img {
    width: 40px;
  }
  .menu {
    display: flex;
    height: 100%;
  }
  .menu li {
    padding-left: 30px;
  }
  .menu li a {
    display: inline-block;
    text-decoration: none;
    font-weight: bolder;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: capitalize;
    padding: 1.1rem 0;
  }
  
  header > nav > .nav-bar > li > a > svg {
    fill: var(--color1);
    width: 130px;
  }
  .menu li a:hover {
    color: var(--color3);
  }
  .menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color3);
    transition: 0.15s ease-in-out;
  }
  .menu li a:hover:after {
    width: 100%;
  }
  .none {
    cursor: default;
    color: var(--color1);
    width: 1px;
    height: 1px;
  }
  .none:hover {
    cursor: default;
    color: var(--color1) !important;
  }
  .none::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0 !important;
    transition: 0.15s ease-in-out;
  }
  
  .open-menu,
  .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
  }
  .col {
    color: #dfdfe1 !important;
    font-weight: 700 !important;
  }
  .col:hover {
    color: var(--color3) !important;
  }
  .open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
  .close-menu {
    top: 20px;
    right: 20px;
  }
  #check {
    display: none;
  }
  @media (max-width: 775px) {
    .menu {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80%;
      height: 100vh;
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 100;
      background-color: var(--color2);
      transition: all 0.2s ease-in-out;
    }
    .menu li {
      margin-top: 40px;
    }
    .menu li a {
      padding: 10px;
    }
    .open-menu,
    .close-menu {
      display: block;
    }
    #check:checked ~ .menu {
      right: 0;
    }
  }
  
  /* Hero section */
  
  .hero {
    width: 100%;
    height: 70vh;
    background-color: #1d75de;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero > article {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .hero > article > div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .hero-heading-div {
    margin: 7rem 0 2rem 0;
  }
  .hero-heading-div > h1 {
    color: #fff;
    font-size: 3rem;
  }
  .hero-para-div {
    margin: 1rem 0 2rem 0;
  }
  .hero-para-div > p {
    font-size: 1.5rem;
    color: #fff;
  }
  
  .hero-btn-div {
    margin: 0 0 3rem 0;
  }
  .hero-btn-div > input {
    width: 10rem;
    font-size: medium;
    font-weight: bold;
    margin: 0 0.5rem;
    padding: 1em;
    border-radius: 5rem;
    border: none;
    outline: none;
  }
  .blk {
    background-color: #000;
    color: #fff;
  }
  .blk:hover {
    transform: scale(1.03);
  }
  .wht {
    background-color: #1d75de;
    color: #fff;
    border: 2px solid white !important;
    width: 12rem !important;
  }
  .wht:hover {
    transform: scale(1.03);
  }
  /* .hero-desc-div{
  
  } */
  .hero-desc-div > p {
    font-size: smaller;
    color: #fff;
  }
  .hero-desc-div > p a {
    color: #fff;
  }
  @media (max-width: 1200px) {
    .hero-heading-div {
      margin: 3rem 0 2rem 0;
    }
    .hero-heading-div > h1 {
      font-size: 5vw;
    }
  }
  @media (max-width: 768px) {
    nav {
      width: 100%;
    }
    .hero {
      width: 100%;
      height: 65vh;
    }
    .hero > article {
      width: 100%;
      height: 100%;
      padding: 2rem;
    }
    .hero-heading-div {
      margin: 1rem 0;
    }
    .hero-heading-div > h1 {
      font-size: 5vw;
      width: 100%;
    }
    .hero-btn-div {
      display: flex;
      flex-direction: column;
      margin: 1rem 0;
    }
    .hero-btn-div > input {
      width: 100% !important;
      margin: 1rem 0 0 0;
    }
  }
  /* Card Section */
  
  .card-section {
    width: 100%;
    height: 80vh;
    background-color: #fff;
    /* border: 1px solid sandybrown; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .wrapper-card {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid darkblue; */
  }
  .card-heading-div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .card-heading-div > h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .card-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
  }
  .card {
    width: 300px;
    height: 300px;
    /* border: 1px solid red; */
    display: flex;
  
    flex-direction: column;
  }
  .card > .round-div {
    width: 142px;
    height: 142px;
    /* border: 1px solid rgb(27, 19, 19); */
    margin: 0 auto;
  }
  .card1 > .round-div {
    background: url(https://i.scdn.co/image/ab671c3d0000f4300e79e20edd40577fabe5e126);
    background-size: cover;
  }
  .card2 > .round-div {
    background: url(https://i.scdn.co/image/ab671c3d0000f430dc1baa0957b0520c556c86b7);
    background-size: cover;
  }
  .card3 > .round-div {
    background: url(https://i.scdn.co/image/ab671c3d0000f430d6fee826d3ece1216e4f5772);
    background-size: cover;
  }
  .card4 > .round-div {
    background: url(https://i.scdn.co/image/ab671c3d0000f4309977c2dc20e8cd1aaf755ba2);
    background-size: cover;
  }
  .card-para {
    width: 100%;
    /* border: 1px solid red; */
    margin: 2.5rem 0;
  }
  .card-para > p {
    text-align: center;
  }
  .bold {
    font-weight: bold;
    font-size: 1.2rem;
  }
  .wid {
    width: 80%;
  }
  .card-para:nth-child(2) {
    width: 80%;
    margin: 2rem auto;
  }
  @media (max-width: 1201px) {
    .wrapper-card {
      width: 100%;
    }
    .card-cont {
      display: grid;
      gap: 1.5rem;
      grid-template-columns: 1fr 1fr;
      padding: 0 1rem;
      width: 100%;
    }
  
    .card {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 50%;
    }
    .round-div {
      width: 100px !important;
      height: 100px !important;
      /* margin: 0 0.1rem 0 0 !important; */
      /* margin: 1rem 0; */
    }
    .card-para {
      width: 60% !important;
    }
  }
  @media (max-width: 765px) {
    body {
      overflow-x: hidden;
    }
    .hero {
      width: auto;
      height: 60vh;
      display: flex;
      justify-content: center !important;
      align-items: center !important;
    }
    .hero > article {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .para-div {
      padding: 0 !important;
    }
    .card-section {
      width: 100%;
      height: 100vh;
    }
    .wrapper-card {
      width: 100%;
      height: 100%;
      /* margin: 2rem 0; */
      padding: 1rem;
    }
    .card-cont {
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr;
      padding: 0 1rem;
      width: 100%;
      margin: 1rem 0;
    }
    .card-heading-div {
      margin: 1.2rem 0 0 0;
    }
  
    .card {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 50%;
    }
    .round-div {
      min-width: 110px;
      min-height: 110px;
    }
    .card-para {
      width: 80% !important;
      margin-left: 1rem !important;
    }
    .card-para > p {
      text-align: left;
    }
  }
  
  @media (max-width: 600px) {
    .card-cont {
      margin: 0.7rem 0;
    }
    .card-heading-div {
      margin: 1rem 0;
    }
  }
  
  /* Pricing Section  */
  .pricing-section {
    width: 100%;
    height: 140vh;
    background-color: #efefef;
    display: flex;
    justify-content: center;
  }
  .pricing-section-wrapper {
    width: 80%;
  }
  .pricing-icon-div {
    width: 100%;
    display: flex;
  }
  .pricing-icon-div > div {
    width: 50px;
    height: 20px;
  }
  .upi {
    background: url("https://content-tooling.spotifycdn.com/images/b33cabea-d074-4f4f-8714-da6bdb2f067f_upi.svg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .paytm {
    background: url("https://content-tooling.spotifycdn.com/images/ea750340-f556-4682-b84c-326269cdd4bc_paytm.svg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .visa {
    background: url("https://content-tooling.spotifycdn.com/images/e549bf16-2051-43ac-b4d6-c5b8d7bf100d_visa.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .master {
    background: url("https://content-tooling.spotifycdn.com/images/6d693019-628b-45b8-96ca-e3c294aed6aa_mastercard.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .amex {
    background: url("https://content-tooling.spotifycdn.com/images/468706f2-62af-48e4-80cb-9616b011f6c6_amex.svg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .tulx {
    background: url("https://content-tooling.spotifycdn.com/images/13ab56f9-bcc3-414e-b8ff-6cf692a5ae0c_diners.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .pricing-heading-div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 4rem 0 1rem 0;
  }
  .pricing-heading-div > h1 {
    font-size: 3rem;
  }
  .pricing-para-div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
  }
  .pricing-para-div > p {
    font-size: 0.9rem;
    font-weight: 500;
  }
  .pricing-icon-div {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }
  .pricing-card-div {
    width: 100%;
    /* height: 70vh; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .pricing-card-div > div {
    width: 275px;
    height: 100%;
    /* border:1px solid red; */
    border-radius: 5px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem;
  }
  .pricing-card-heading-div {
    width: 100%;
    /* padding: ; */
    margin: 0 0 1rem 0;
  }
  .pricing-card-heading-div > span {
    width: 90%;
    color: #0d72ea;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #0d72ea;
    border-radius: 3px;
    font-size: small;
    font-weight: 700;
    display: block;
    margin: 0 0 0.3rem 0;
  }
  .smx {
    width: fit-content !important;
    background-color: #0d72ea !important;
    color: #fff !important;
  }
  .list-div {
    width: 100%;
  }
  .list-div > ul {
    list-style-type: none;
  }
  .list-div > ul > li {
    margin: 0.3rem 0;
  }
  .list-div > ul :nth-child(1) {
    font-size: 1.6rem;
    font-weight: bolder;
  }
  hr {
    height: 0.2rem;
    background-color: #000;
    margin: 1rem 0;
  }
  .pricing-card-div ol {
    list-style-type: none;
    margin: 1rem 0;
  }
  .pricing-card-div ol > li {
    margin: 0.5rem 0;
  }
  .pricing-card-div ol > li > span {
    margin-right: 0.3rem;
  }
  .pricing-card-div ol > li > span > i {
    font-size: larger;
  }
  .pricing-btn-div {
    width: 100%;
    margin: 1rem 0;
  }
  .pricing-btn-div > input {
    width: 100%;
    font-size: medium;
    font-weight: 600;
    padding: 0.7em;
    background-color: #000;
    color: #fff;
    border-radius: 1.5rem;
    border: none;
    outline: none;
  }
  .pricing-btn-div > input:hover {
    transform: scale(1.02);
  }
  .bt-mr {
    margin-top: 3rem;
  }
  .terms-div {
    width: 100%;
    font-size: small;
  }
  .terms-div > p > a {
    color: #6a6969;
  }
  
  .last-para{
      width: 65%;
      margin: 2rem auto;
      display: flex;
      border-radius: 1.2rem;
      justify-content: space-between;
      background-color: #fff;
      padding: 1.2rem;
  }
  .last-para>p{
      font-size: large;
      font-weight: 800;
  }
  .last-para>input{
      font-size: inherit;
      width: 10rem;
      padding: 0.5em;
      border-radius: 2rem;
      border: none;
      outline: 2px solid #000;
  }
  .last-para>input:hover{
      cursor: pointer;
      transform: scale(1.02);
  }
  
  
  @media (max-width: 1406px){
      .pricing-section{
          width: 100%;
          height: 200vh;
      }
    .pricing-card-div {
      width: 100%;
      /* height: 50vh; */
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      align-items: center;
      justify-content: center;
    }
    .pricing-card-heading-div>span{
      width: fit-content !important;
  }
    .pricing-card-div > div {
      width: 400px;
      height: 100%;
      align-self: center;
      justify-self: center;
    }
    .pricing-btn-div {
      margin: 0 0 2px 0 !important;
    }
    .last-para{
      margin: 3rem auto 0 auto;
    }
  }
  @media (max-width:882px) {
      .pricing-section{
          width: 100%;
          height:fit-content !important;
      }
      .pricing-card-div {
          width: 100%;
          /* height: 50vh; */
          display: grid;
          grid-template-columns: 1fr;
          gap: 1rem;
          align-items: center;
          justify-content: center;
        }
        .pricing-card-heading-div>span{
              width: fit-content !important;
        }
        .last-para{
          width: 100%;
          display: flex;
          flex-direction: column;
          margin: 1rem auto 0 auto;
        }
        .pricing-heading-div{
          width: 100%;
          margin: 2rem !important;
        }
        .pricing-heading-div>h1{
          font-size: 7vw;
        }
        .pricing-para-div{
          width: 100%;
        }
        .pricing-para-div>p{
          width: 100%;
        }
  }
  
  /* footer section */
  footer {
      width: 100%;
      height: 70vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #000;
    }
    footer li {
      list-style: none;
    }
    footer a {
      text-decoration: none;
      color: #fff;
    }
    footer > .footer-wrapper {
      width: 80%;
      height: 80%;
    }
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    footer svg {
      width: 60%;
      fill: #fff;
    }
    .footer-card-wrapper {
      width: 100%;
    }
    .footer-card-div {
      display: flex;
      width: 100%;
      height: 40vh;
    }
    .footer-card {
      width: 200px;
      padding: 1em;
    }
    .footer-card > a > h1 {
      margin: 1rem 0;
      font-size: 1.02rem;
      text-align: left;
      color: #717171;
    }
    
    .list > ul > a {
      text-align: left;
      width: 100%;
    }
    .list > ul > a > li {
      margin: 1rem 0;
    }
    footer i {
      color: #fff;
      cursor: pointer;
      font-size: 1.5rem;
    }
    footer i:hover {
      transform: scale(1.2);
      color: #1ed760;
    }
    .round-logo-div {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #222326;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .fl {
      display: flex;
      justify-content: space-between;
      margin: 1rem 0;
    }
    .footer-one {
      display: flex;
      justify-content: end;
      margin: 2rem 0;
    }
    .footer-one > span {
      margin: 0 0.2rem;
    }
    .footer-two {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .footer-two > ul {
      display: flex;
      justify-content: space-between;
      width: 50%;
    }
    .footer-two > ul > a > li {
      font-size: 0.8rem;
      color: #717171;
    }
    footer li:hover {
      color: #1ed760;
    }
    @media (max-width: 992px) {
      footer {
        width: 100%;
        height: fit-content !important;
      }
      .footer-wrapper {
        width: 100%;
        height: 100%;
      }
      .footer-card-div {
        display: grid;
        grid-template-columns: 1fr;
      }
    
      .footer-card {
        width: 100%;
        height: fit-content;
      }
      .footer-one {
        margin: 35rem 0 2rem 0;
      }
      .footer-one>span{
          margin-top: 2rem;
      }
      .footer-two{
        display: flex;
        margin-bottom: 1rem;
      }
      .footer-two>ul{
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 100;
      }
    }
    @media (max-width:450px) {
      .hero-btn-div{
          margin: 1rem 0 2px 0 !important;
      }
      
      .hero-heading-div{
          margin: 2rem 0 0 0 !important;
      }
      .hero-heading-div>h1{
          font-size: 6vw;
      }
      .hero-para-div>p{
          font-size: 4vw;
      }
      .card-heading-div{
          margin: 2rem 0 0 0 !important;
      }
      .card-heading-div>h1{
          font-size: 7vw;
      }
      footer{
          height: fit-content !important;
      }
      .pricing-section{
          height: fit-content !important;
      }
    }
    