* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
    scroll-behavior: smooth;
  }
  body {
    font-family: "Poppins", sans-serif;
    --color1: #fff;
    --color2: #181818;
    --color3: #19e68c;
    overflow-x: hidden;
  }
  header {
    width: 100%;
    height: 75px;
    /* background-color: #181818; */
    background-color: #166d3b;
    background-image: linear-gradient(180deg, #000000 100%, #166d3b 10%,);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-bar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    /* background-color: var(--color2); */
    padding: 10px 20px;
  }
  .logo img {
    width: 40px;
  }
  .menu {
    display: flex;
    height: 100%;
  }
  .menu li {
    padding-left: 30px;
  }
  .menu li a {
    display: inline-block;
    text-decoration: none;
    font-weight: bolder;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: capitalize;
    padding: 1.1rem 0;
  }
  
  header > nav > .nav-bar > li > a > svg {
    fill: var(--color1);
    width: 130px;
  }
  .menu li a:hover {
    color: var(--color3);
  }
  .menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color3);
    transition: 0.15s ease-in-out;
  }
  .menu li a:hover:after {
    width: 100%;
  }
  .none {
    cursor: default;
    color: var(--color1);
    width: 1px;
    height: 1px;
  }
  .none:hover {
    cursor: default;
    color: var(--color1) !important;
  }
  .none::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0 !important;
    transition: 0.15s ease-in-out;
  }
  
  .open-menu,
  .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
  }
  .col {
    color: #dfdfe1 !important;
    font-weight: 700 !important;
  }
  .col:hover {
    color: var(--color3) !important;
  }
  .open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
  .close-menu {
    top: 20px;
    right: 20px;
  }
  #check {
    display: none;
  }
  @media (max-width: 775px) {
    .menu {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80%;
      height: 100vh;
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 100;
      background-color: var(--color2);
      transition: all 0.2s ease-in-out;
    }
    .menu li {
      margin-top: 40px;
    }
    .menu li a {
      padding: 10px;
    }
    .open-menu,
    .close-menu {
      display: block;
    }
    #check:checked ~ .menu {
      right: 0;
    }
  }
  @media (max-width: 768px) {
    nav {
      width: 100%;
    }
  }
  .hero{
      width: 100%;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #166d3b;
  background-image: linear-gradient(180deg, #166d3b 10%, #000000 30%);
  }
  .hero>.hero-container{
      width: 40%;
      height: 100%;
  }
  .hero>.hero-container>.hero-head{
      width: 100%;
      display: flex;
      justify-content: left;
      align-items: center;
      margin: 1.5rem 0;
  }
  .hero>.hero-container>.hero-head>h2{
      font-size: medium;
      font-weight: 300;
      color: #cbcbd2;
  }
  .hero>.hero-container>.hero-heading{
      width: 100%;
      margin: 2rem 0;
  }
  .hero>.hero-container>.hero-heading>h1{
      font-size:3rem;
      color:#fff;
  }
  .hero-lnk{
      width: 100%;
      color:#cbcbd2;
      font-weight: 700;
      font-size: larger;
      margin: 2rem 0;
  }
  .hero-lnk>p>a{
      color: #fff;
  }
  .hero-search{
      width: 100%;
      display: flex;
      /* justify-content: center; */
      align-items: center;
      background-color: #fff;
      border-radius: 5px;
      overflow: hidden;
      margin: 1rem 0;
  }
  .hero-search>i{
      color: #4d4d4d;
      font-size: 1.6rem;
      margin-left: 1rem;
  }
  .hero-search>input{
      width: 100%;
      padding: 1rem;
      outline: none;
      border: none;
      
  }
  input[type=search]:focus{
      border: none;
      font-size: larger;
  }
  .hero-card{
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
      margin: 2rem 0 2rem 0;
  }
  .hero-card>div{
      height: 92px;
      border-radius: 4px;
      position: relative;
      overflow: hidden;
      display: block;
      
  }
  .hero-card>div>img{
      height: 64px;
      position: absolute;
      top: 25px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
      right: calc(100% - 64px + 19px);
      left: calc(100% - 64px + 19px);
      transform: rotate(25deg);
      z-index: 1;
  }
  .hero-card :nth-child(1){
      background-color: rgb(175, 40, 150);
  }
  /* .hero-card :{
      background-color: #537AA1;
  } */
  .hero-card :nth-child(3){
      background-color:  #8C1932;
  }
  .hero-card :nth-child(4){
      background-color: #B06239;
  }
  .hero-card :nth-child(5){
      background-color: #006450;
  }
  .hero-card :nth-child(6){
      background-color: #757575;
  }
  .hero-card>div>span{
      color: #fff ;
      border-color: none;
      display: block;
      padding: 12px;
      position: relative;
      padding-inline-end: 56px;
      box-sizing: border-box;
      -webkit-tap-highlight-color: transparent;
      margin-block: 0px;
      font-size: 1.125rem;
      font-weight: 700;
  }
  
  @media (max-width:1400px) {
      .hero{
          width: 100% !important;
          height: fit-content;
      }
      .hero-container{
          width: 80% !important;
          height: fit-content;
      }
      
  }
  @media (max-width:700px) {
      .hero{
          width: 100% !important;
          height: fit-content;
      }
      .hero-container{
          width: 80% !important;
          height: fit-content;
      }
      .hero-card{
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr ;
          gap: 1rem;
          margin: 2rem 0 2rem 0;
      }
      
  }
  @media (max-width:420px) {
      .hero{
          width: 100% !important;
          height: fit-content;
      }
      .hero-container{
          width: 80% !important;
          height: fit-content;
      }
      .hero-card{
          width: 100%;
          display: grid;
          grid-template-columns: 1fr  ;
          gap: 0.5rem;
          margin: 2rem 0 2rem 0;
      }
      
  }
  
  /* Question Module */
  
  
  .question-section {
      width: 100%;
      height: fit-content;
      background-color: #2A2A2A;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .question-section > .question-wrapper {
      width: 40%;
      height: 100%;
      display: flex;
      color: #fff;
      flex-direction: column;
      /* justify-content: space-around; */
    }
    .question-heading {
      width: 100%;
      margin: 2rem 0 0 0 ;
    }
    .question-heading > h1 {
      text-align: left;
      font-size: 2.5rem;
    }
    
    .question-div {
      width: 100%;
      margin: 2rem auto;
    }
    .question-div > .ques {
      /* padding: 1.4em; */
      display: flex;
      justify-content: space-between;
      margin: 2rem 0;
    }
    .question-div > .ques:hover {
      /* background-color: #eee; */
      text-decoration: underline;
    }
    .question-div > .ques > p {
      font-weight: 700;
      font-size: larger;
    }
    .question-div > .ques > p:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    .question-div > .ques > svg {
      transform: rotate(-270deg);
      cursor: pointer;
    }
  
    
  @media (max-width:1400px) {
      .question-section{
          width: 100% !important;
          height: fit-content;
      }
      .question-wrapper{
          width: 80% !important;
          height: fit-content;
      }
      
  }
  @media (max-width:700px) {
      .question-section{
          width: 100% !important;
          height: fit-content;
      }
      .question-wrapper{
          width: 80% !important;
          height: fit-content;
      }
      
      
  }
  @media (max-width:420px) {
      .question-section{
          width: 100% !important;
          height: fit-content;
      }
      .question-wrapper{
          width: 80% !important;
          height: fit-content;
      }
      
      
  }
  
  /* Community Section  */
  
  
  /* section 5 */
  
  .ready {
      width: 100%;
      height: fit-content;
      background-color: #121212;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .ready > .ready-wrapper {
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .ready-heading-div {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 4rem 0 2rem 0;
    }
    .ready-heading-div > h1 {
      font-size: 3rem;
      color: #fff;
    }
    .ready-para-div{
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 0 0 1rem 0;
    }
    .ready-para-div > p {
      font-size: 1rem;
      color: #fff;
    }
    .ready-btn-div {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 1rem 0 3rem 0;
    }
    .ready-btn-div > input {
      font-size: 1rem;
      font-weight: 700;
      text-transform: uppercase;
      width: 200px;
      color: #000;
      background-color: #1ED760;
      padding: 0.7em;
      border-radius: 30px;
      border: none;
      outline: none;
    }
    .ready-btn-div > input:hover {
      transform: scale(1.02);
      cursor: pointer;
    }
  
      
  @media (max-width:1400px) {
      .ready{
          width: 100% !important;
          height: fit-content;
      }
      .ready-wrapper{
          width: 80% !important;
          height: fit-content;
      }
      
  }
  @media (max-width:700px) {
      .ready{
          width: 100% !important;
          height: fit-content;
      }
      .ready-wrapper{
          width: 80% !important;
          height: fit-content;
      }
      .ready-heading-div>h1{
          font-size: 2.1rem;
      }
      .ready-para-div>p{
          font-size: 0.8rem;
      }
      
  }
  @media (max-width:420px) {
      .ready{
          width: 100% !important;
          height: fit-content;
      }
      .ready-wrapper{
          width: 80% !important;
          height: fit-content;
      }
      .ready-heading-div>h1{
          font-size: 8vw;
      }
      .ready-para-div>p{
          font-size: 5vw;
      }
      
  }
   
  
  /* Footer Module  */
  
  
  footer {
      width: 100%;
      height: 70vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #000;
    }
    footer li {
      list-style: none;
    }
    footer a {
      text-decoration: none;
      color: #fff;
    }
    footer > .footer-wrapper {
      width: 80%;
      height: 80%;
    }
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    footer svg {
      width: 60%;
      fill: #fff;
    }
    .footer-card-wrapper {
      width: 100%;
    }
    .footer-card-div {
      display: flex;
      width: 100%;
      height: 40vh;
    }
    .footer-card {
      width: 200px;
      padding: 1em;
    }
    .footer-card > a > h1 {
      margin: 1rem 0;
      font-size: 1.02rem;
      text-align: left;
      color: #717171;
    }
    
    .list > ul > a {
      text-align: left;
      width: 100%;
    }
    .list > ul > a > li {
      margin: 1rem 0;
    }
    footer i {
      color: #fff;
      cursor: pointer;
      font-size: 1.5rem;
    }
    footer i:hover {
      transform: scale(1.2);
      color: #1ed760;
    }
    .round-logo-div {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #222326;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .fl {
      display: flex;
      justify-content: space-between;
      margin: 1rem 0;
    }
    .footer-one {
      display: flex;
      justify-content: end;
      margin: 2rem 0;
    }
    .footer-one > span {
      margin: 0 0.2rem;
    }
    .footer-two {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .footer-two > ul {
      display: flex;
      justify-content: space-between;
      width: 50%;
    }
    .footer-two > ul > a > li {
      font-size: 0.8rem;
      color: #717171;
    }
    footer li:hover {
      color: #1ed760;
    }
    @media (max-width: 992px) {
      footer {
        width: 100%;
        height: fit-content !important;
      }
      .footer-wrapper {
        width: 100%;
        height: 100%;
      }
      .footer-card-div {
        display: grid;
        grid-template-columns: 1fr;
      }
    
      .footer-card {
        width: 100%;
        height: fit-content;
      }
      .footer-one {
        margin: 35rem 0 2rem 0;
      }
      .footer-one>span{
          margin-top: 2rem;
      }
      .footer-two{
        display: flex;
        margin-bottom: 1rem;
      }
      .footer-two>ul{
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 100;
      }
    }
    
  